@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body{
  min-height: 50vh;
  overflow-x: hidden;
  background: linear-gradient( #2b1055, black);
}

header{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  z-index: 10000;
}

.logo{
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #2CD9FF, #7EFFB2);
  background-size: 400% 400%;
  animation: anim 2.5s infinite ease-in-out;
  border-radius: 10px;
  padding: 5px;
}

nav {
  position: absolute;
  right: 0px;
  background-color: #fff;
  padding: 20px;
  width: 80px;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: width 0.6s linear;
  overflow-x: hidden;
}

nav.active {
  width: 350px;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 0;
  transition: width 0.6s linear;
}

nav.active ul {
  width: 100%;
}

nav ul li {
  transform: rotateY(0deg);
  opacity: 0;
  transition: transform 0.6s linear, opacity 0.6s linear;
}

nav.active ul li {
  opacity: 1;
  transform: rotateY(360deg);
}

nav ul a {
  position: relative;
  color: #000;
  text-decoration: none;
  margin: 0 10px;
}

.icon {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: relative;
  height: 30px;
  width: 30px;
}

.icon:focus {
  outline: 0;
}

.icon .line {
  background-color: #5290f9;
  height: 2px;
  width: 20px;
  position: absolute;
  top: 10px;
  left: 5px;
  transition: transform 0.6s linear;
}

.icon .line2 {
  top: auto;
  bottom: 10px;
}

nav.active .icon .line1 {
  transform: rotate(-765deg) translateY(5.5px);
}

nav.active .icon .line2 {
  transform: rotate(765deg) translateY(-5.5px);
}

section{
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

section::before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top,#1c0522, transparent);
  z-index: 1000;
}

section img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

section img#moon{
  mix-blend-mode: screen;
}

section img#mountains_front{
  z-index: 10;
}

#text{
  position: absolute;
  right: -350px;
  color: white;
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 9;
}

#btn{
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: white;
  color: #2b1055;
  font-size: 1.5em;
  z-index: 9;
  transform: translateY(100px);
}

.wrapper{
  margin: 50px auto;
  width: 90%;
  display: grid;
  place-items: center;
}

.wrapper img{
  border: 3px solid white;
  border-radius: 10px;
  margin-right: 15px;
  width: 200px;
  height: auto;
}

.text-box h2{
  color: white;
  font-size: 42px;
}

span{
  color: red;
  font-size: 42px;
}

.text-box p{
  color: white;
  font-size: 16px;
}

.project{
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: center;
}

.project h1{
  color: white;
}

.projects{
  margin: 10px auto;
  width: 90%;
  display: grid;
  place-items: center;
}

.projects img{
  width: 70%;
  height: auto;
  margin: 15px auto;
  border: solid 3px #A63F9F;
  border-radius: 10px;
}

.caption{
  width: 70%;
  justify-content: left;
  color: white;
  margin-bottom: 100px;
}

.caption p{
  font-size: 20px;
}

footer{
  color: white;
  width: 100%;
  height: 10vh;
  display: grid;
  place-items: center;
}

@keyframes anim{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}